# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyc

# Raw data (Kaggle download, not meant for redistribution)
data/raw/*
!data/raw/.gitkeep

# Generated/derived data (recreated by the pipeline)
data/processed/*
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints
notebooks/00_data_exploration.ipynb

# Virtual environments
.venv
venv/
env/

# Logs / local results
projectLog/
results/
docs/
images/

# IDE
.vscode/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest / Test Caches
.pytest_cache/
.coverage
htmlcov/